/* ============================================
   FLOWER SECTION STYLES
   ============================================ */

.flower {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.flower-content {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0;
    gap: 1vw;
    position: relative;
}

.flower-content-sequence {
    width: 100%;
    height: 100%;
}

.image-sequence-canvas {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.flower-content-textbox {
    position: absolute;
    bottom: 12.5vh;
    left: 12.5vw;
    padding: 2vw;
    gap: 1vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 5;
}

.flower-content-textbox-item {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.flower-content-right-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
    row-gap: 0.5vh;
}

.flower-content-right-content-item {
    width: 5vw;
    height: 7.5vh;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.flower-content-right-content-item-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5vw;
    height: 100%;
    object-fit: cover;
}