/* ============================================
   TECHSTACK SECTION STYLES
   ============================================ */

.techstack {
    height: fit-content;
    display: flex;
}

.techstack-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 5vh;
}

.techstack-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    perspective: 2000px;
}

.techstack-item-big,
.techstack-item-small {
    border-radius: 25px;
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.025);
    display: flex;
    padding: 4vw;
    position: relative;
    overflow: hidden;
}

.techstack-item-big {
    width: 80vw;
    height: 50vh;
}

.techstack-item-small {
    width: 39.5vw;
    height: 70vh;
}

.techstack-item-no-padding {
    padding: 0;
}

.techstack-item-no-padding-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 10vw rgba(255, 255, 255, 0.1);
    z-index: 1;
    border-radius: 25px;
    pointer-events: none;
}

.techstack-item-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.techstack-item-content-center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5vw;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

.techstack-item-content-textbox {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.techstack-item-content-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.techstack-item-content-cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.techstack-item-cards {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 5000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    padding-bottom: 15vh;
}

.techstack-item-card {
    position: absolute;
    backdrop-filter: blur(10px);
    width: 25vw;
    height: 19vh;
    border-radius: 25px;
    transition: 0.75s ease;
    user-select: none;
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.15), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    background-color: transparent;
    padding: 3vh 2vw;
}

.techstack-item-card-1 {
    opacity: 0;
}

.techstack-item-card-2 {
    margin-bottom: 5vh;
}

.techstack-item-card-3 {
    opacity: 0;
}

.techstack-item-card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .32s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.techstack-item-card-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.techstack-item-card-content-top-image {
    width: 1.5vw;
    height: 1.5vw;
    object-fit: contain;
}

.techstack-item-card-content-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.75vh;
}

.techstack-item-card-animated-1 {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(-225px) translateX(calc(10% + 5%)) translateY(-15%);
    margin-left: -6vw;
    margin-bottom: 1.5vh;
    opacity: 1;
}

.techstack-item-card-animated-2 {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(0) translateX(10%) translateY(-15%);
    margin-left: -6vw;
    margin-bottom: 0;
}

.techstack-item-card-animated-3 {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(225px) translateX(calc(10% - 3%)) translateY(-15%);
    margin-left: -6vw;
    margin-bottom: -1.5vh;
    opacity: 1;
}

.techstack-item-card-animated-hover {
    transition: .32s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.techstack-item-card-animated-1:hover {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(-225px) translateX(calc(10% + 5%)) translateY(-45%);
}

.techstack-item-card-animated-2:hover {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(0) translateX(10%) translateY(-40%);
}

.techstack-item-card-animated-3:hover {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(225px) translateX(calc(10% - 3%)) translateY(-30%);
}

.techstack-item-content-column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5vh;
}

.techstack-item-content-column-slider {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.025);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.techstack-item-content-column-slider-carousel {
    overflow: hidden;
    width: 100%;
    display: flex;
    height: fit-content;
}

.techstack-item-content-column-slider-carousel-row {
    display: flex;
    width: 100%;
}

.techstack-item-content-column-slider-item {
    flex: 0 0 7vw;
    min-width: 0;
    height: 7vw;
    border-radius: 10px;
    user-select: none;
    margin-left: 2vw;
}

.techstack-item-content-column-slider-item-child {
    width: 100%;
    height: 100%;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.075), inset 0 0 5vw rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.025);
    user-select: none;
}

.techstack-item-content-column-slider-item-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.techstack-item-content-column-textbox {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.techstack-item-content-column-border {
    width: 100%;
    height: 1px;
    background-color: white;
}

.techstack-item-content-column-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.techstack-item-content-column-bottom-button {
    width: fit-content;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1vw;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    border: none;
    background-color: rgba(255, 255, 255, 0.025);
    color: white;
}

.techstack-item-content-column-bottom-left,
.techstack-item-content-column-bottom-center,
.techstack-item-content-column-bottom-right {
    width: 20%;
    display: flex;
    height: fit-content;
    align-items: center;
}

.techstack-item-content-column-bottom-center {
    justify-content: center;
}

.embla__dots-small {
    display: flex;
    gap: 0.5vw;
}

.embla__dot-small {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.25);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: fit-content;
    height: 0.9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
}

.embla__dot-small:after {
    background-color: rgba(255, 255, 255, 0.25);
    width: 0.9vh;
    height: 0.9vh;
    display: flex;
    align-items: center;
    border-radius: 999px;
    content: '';
    transition: width 0.75s ease, background-color 0.5s ease;
    transform-origin: center;
}

.embla__dot--selected-small:after {
    width: 2vw;
    background-color: white;
}

/* ============================================
   MOBILE RESPONSIVE - DESKTOP JAISA HI
   ============================================ */

@media (max-width: 768px) {
    .techstack-content {
        gap: 5vw;
    }

    .techstack-container {
        gap: 2.5vw;
    }

    .techstack-item-big,
    .techstack-item-small {
        border-radius: 15px;
        padding: 7vw;
    }

    .techstack-item-big {
        width: 90vw;
        height: 70vw;
    }

    .techstack-item-small {
        width: 90vw;
        height: 110vw;
    }

    .techstack-item-no-padding {
        padding: 0;
    }

    .techstack-item-no-padding-border {
        border-radius: 15px;
    }

    .techstack-item-content-center {
        padding-top: 8vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .techstack-item-content-center .textbox {
        gap: 3vw;
    }

    .techstack-item-content-center .small-subheadline {
        font-size: 5vw;
        line-height: 120%;
    }

    .techstack-item-content-center .button {
        height: 10vw;
        padding: 0 4vw;
        padding-right: 2vw;
        gap: 2vw;
    }

    .techstack-item-content-center .button-circle {
        width: 6vw;
        height: 6vw;
    }

    .techstack-item-content-center .button-icon {
        width: 3vw;
        height: 3vw;
    }

    .techstack-item-content-video {
        border-radius: 15px;
    }

    /* CARDS - Desktop jaisa position, bas thoda upar */
    .techstack-item-cards {
        padding-bottom: 8vw;
        perspective: 3000px;
    }

    .techstack-item-card {
        width: 60vw;
        height: 30vw;
        border-radius: 12px;
        padding: 4vw;
    }

    .techstack-item-card-2 {
        margin-bottom: 6vw;
    }

    .techstack-item-card-content-top-image {
        width: 5vw;
        height: 5vw;
    }

    /* Same transforms as desktop, bas values adjusted for mobile */
    .techstack-item-card-animated-1 {
        transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(-20vw) translateX(15%) translateY(-25%);
        margin-left: -12vw;
        margin-bottom: 2vw;
        opacity: 1;
    }

    .techstack-item-card-animated-2 {
        transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(0) translateX(10%) translateY(-25%);
        margin-left: -12vw;
        margin-bottom: 0;
    }

    .techstack-item-card-animated-3 {
        transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(20vw) translateX(5%) translateY(-25%);
        margin-left: -12vw;
        margin-bottom: -2vw;
        opacity: 1;
    }

    /* Hover same as desktop */
   /* Ye values change kar - translateY ko aur negative kar */

.techstack-item-card-animated-1:hover {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(-20vw) translateX(15%) translateY(-75%); /* -55% se -75% */
}

.techstack-item-card-animated-2:hover {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(0) translateX(10%) translateY(-75%); /* -50% se -70% */
}

.techstack-item-card-animated-3:hover {
    transform: skewY(-4deg) rotateX(-14deg) rotateY(20deg) translateZ(20vw) translateX(5%) translateY(-65%); /* -45% se -65% */
}

    .techstack-item-content-column {
        gap: 4vw;
    }

    .techstack-item-small-mobile-big {
        height: 115vw;
    }

    .techstack-item-content-column-slider {
        border-radius: 15px;
    }

    .techstack-item-content-column-slider-item {
        flex: 0 0 18vw;
        height: 18vw;
        margin-left: 2.5vw;
    }

    .techstack-item-content-column-slider-item-child {
        padding: 4vw;
        border-radius: 8px;
    }

    .techstack-item-content-column-textbox {
        gap: 2vw;
    }

    .techstack-item-content-column-bottom-button {
        height: 8vw;
        padding: 0 3vw;
        border-radius: 8px;
    }

    .techstack-item-content-column-bottom-left,
    .techstack-item-content-column-bottom-center,
    .techstack-item-content-column-bottom-right {
        width: 33%;
    }

    .techstack-item-content-column-bottom-right {
        justify-content: flex-end;
    }

    .embla__dots-small {
        gap: 1.5vw;
    }

    .embla__dot-small {
        height: 2vw;
    }

    .embla__dot-small:after {
        width: 2vw;
        height: 2vw;
    }

    .embla__dot--selected-small:after {
        width: 5vw;
    }
}